.stack_friend{
    width:300px;
    display:block;
    height:100px;
    float:left;
    margin-right: 50px;
    margin-bottom:20px;
    overflow: hidden;
    border:1px solid gray;
    background: rgb(96,108,136);
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1)));
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
background: -o-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
background: -ms-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );

}
.stack_friend:nth-child(3n){
    margin-right: 0px;
}

.stack_friend .profilebox{
    padding: 5px;
    font-family: "neoubold";
    color: white;
    display: inline;
    position: absolute;
    width: 190px;
}
.profilebox .link{
    clear: both;
color: wheat;
display: block;
}
.stack_friend .profilepic{
    overflow: hidden;
    display: inline;
}
.stack_friend .name{
    display:block;
}
#friendsbox{
    padding-left:40px;
}
