.explorer8 section.hr{
   display:block;
   height:77px;
}
.explorer8 title.datetime{
    position:absolute;
    display:block;
    left:500px;
}
.explorer8{
    
}
.explorer8{
    
}
.explorer8{
    
}
.explorer8{
    
}
